* {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/3665287.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.main-row {
    margin-top: 4rem;
}

.scene {
    display: inline-block;
    width: 100%;
    height: 260px;
    perspective: 600px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.phonetic {
    font-size: 22px;
    min-height: 33px;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
        0 10px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    overflow: hidden;
}

.card__face--back {
    padding: 20px;
    background-color: white;
    transform: rotateY(180deg);
    position: relative;
}

.card__img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.name {
    font-family: "Luckiest Guy", cursive;
    font-size: 3rem;
}

.text {
    font-family: "Twinkle Star", cursive;
    font-size: 2rem;
}

.instruction {
    background-color: rgb(207, 233, 183, 0.5);
    color: black;
    padding: 5px 0px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.fa-hand-o-up {
    padding: 0 5px;
    font-size: 0.7rem;
}

.icon {
    width: 3.2rem;
    background-color: rgb(207, 233, 183);
    color: black;
    padding: 5px 12px;
    border: 0px;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.icon:hover {
    color: brown;
    /* background-color: green;
  color: white; */
}

.change-card {
    line-height: 2.5rem;
}

.liked {
    color: brown;
}

.side-bar-section {
    position: fixed;
    top: 25%;
    width: 10%;
    height: 400px;
    transform: translateX(-100px);
    background-color: rgb(207, 233, 183);
}

.side-bar {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr repeat(3, 1fr);
}

.side-bar a {
    font-size: 1rem;
    display: grid;
    place-items: center;
    background-color: green;
    color: white;
    transition: all 0.5s ease-out;
}

.side-bar a:hover {
    transform: translateX(100px);
}

.btn-disabled {
    opacity: 0.2;
    user-select: none;
    cursor: default !important;
}

.btn-disabled:hover {
    color: black;
}


.loading__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

@keyframes ldio-c3a83pepd0q {
    0% { 
        transform: rotate(0) 
    }
    100% { 
        transform: rotate(360deg)
    }
}

.ldio-c3a83pepd0q div { 
    box-sizing: border-box!important 
}

.ldio-c3a83pepd0q > div {
    position: absolute;
    width: 131.76px;
    height: 131.76px;
    top: 25.62px;
    left: 25.62px;
    border-radius: 50%;
    border: 14.64px solid #000;
    border-color: #c8e690 transparent #c8e690 transparent;
    animation: ldio-c3a83pepd0q 0.970873786407767s linear infinite;
}
  
.ldio-c3a83pepd0q > div:nth-child(2), 
.ldio-c3a83pepd0q > div:nth-child(4) {
    width: 98.82000000000001px;
    height: 98.82000000000001px;
    top: 42.09px;
    left: 42.09px;
    animation: ldio-c3a83pepd0q 0.970873786407767s linear infinite reverse;
}

.ldio-c3a83pepd0q > div:nth-child(2) {
    border-color: transparent #042a2d transparent #042a2d
}

.ldio-c3a83pepd0q > div:nth-child(3) { 
    border-color: transparent 
}

.ldio-c3a83pepd0q > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-c3a83pepd0q > div:nth-child(3) div:before, 
.ldio-c3a83pepd0q > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 14.64px;
    height: 14.64px;
    top: -14.64px;
    left: 43.92px;
    background: #c8e690;
    border-radius: 50%;
    box-shadow: 0 117.12px 0 0 #c8e690;
}

.ldio-c3a83pepd0q > div:nth-child(3) div:after {
    left: -14.64px;
    top: 43.92px;
    box-shadow: 117.12px 0 0 0 #c8e690;
}
  
.ldio-c3a83pepd0q > div:nth-child(4) { 
    border-color: transparent; 
}

.ldio-c3a83pepd0q > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-c3a83pepd0q > div:nth-child(4) div:before, 
.ldio-c3a83pepd0q > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 14.64px;
    height: 14.64px;
    top: -14.64px;
    left: 27.450000000000003px;
    background: #042a2d;
    border-radius: 50%;
    box-shadow: 0 84.18px 0 0 #042a2d;
}

.ldio-c3a83pepd0q > div:nth-child(4) div:after {
    left: -14.64px;
    top: 27.450000000000003px;
    box-shadow: 84.18px 0 0 0 #042a2d;
}

.loadingio-spinner-double-ring {
    width: 183px;
    height: 183px;
    display: inline-block;
    overflow: hidden;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.ldio-c3a83pepd0q {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-c3a83pepd0q div { 
    box-sizing: content-box; 
}